@import "tailwindcss";

@theme {
  --color-brand-blue: #183b4e;
  --color-brand-accent: #c3d600;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #ffffff;
  --foreground: #183b4e;
  --brand-blue: #183b4e;
  --brand-accent: #c3d600;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

@layer base {
  * {
    @apply border-brand-blue/10;
  }
}

